* {
    box-sizing:border-box;
}
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #e9f3ff;
}

header {
    padding: 30px;
    text-align: center;
    background-color: #CDDDFF;
}

nav {
    img {
        width: 90%;
        border-radius: 10px;
        margin-left: 4%;
    }
    float: left;
    width: 25%;
    height: 600px;
    padding: 20px;
    background-color: #CDDDFF;
  }
a:link {
    color:black;
    text-decoration: none;
    background-color: #CDDDFF;
}
a:visited {
    color: black;
    text-decoration: none;
    background-color: #CDDDFF;
}
a:hover {
    color: white;
    text-decoration: none;
    background-color: #CDDDFF;
}
li {
    font-size:medium;
}
p {
    font-size:small;
    margin-left: 40px;
}
article {
    float: left;
    margin-left: 30px;
    width: 70%;

}

section::after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    nav {
      width: 100%;
      height: auto;
    }
    article {
        margin-left: 0px;
        width: 90%;
    }
  }
  @media (min-width: 768px) {
    nav {
        width: 40%;
        height: 800px;
      }
      article {
          margin-left: 10px;
          width: 50%;
      }
  }
  @media (min-width: 992px) {
    nav {
        width: 25%;
        height: 600px;
      }
      article {
          margin-left: 30px;
          width: 70%;
      }
  }