* {
    box-sizing:border-box;
}
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
button {
    background-color:#9DB496;
    border-color: transparent;
    font-size:medium;
    border-radius: 1cap;
}

header {
    padding: 30px;
    text-align: center;
    background-color: #CCE3C2;
}

nav {
    float: left;
    width: 20%;
    height:auto;
    padding: 20px;
    background-color: #CCE3C2;
    img {
        width: 60%;
        border-radius: 10px;
        margin-left: 19%;
    }
  }
a:link {
    color:black;
    text-decoration: none;
    background-color: #CCE3C2;
}
a:visited {
    color: black;
    text-decoration: none;
    background-color: #CCE3C2;
}
a:hover {
    color: white;
    text-decoration: none;
    background-color: #CCE3C2;
}
li {
    font-size:medium;
}
p {
    font-size:small;
    margin-left: 40px;
}
article {
    float: left;
    margin-left: 30px;
    width: 70%;
    margin-top: 20px;
    i {
        color: #9DB496;
    }

}

section::after {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: #9DB496;
    text-align: center;
    height: 50px;
}
@media (max-width: 600px) {
    nav {
      width: 100%;
      height: auto;
    }
    article {
        margin-left: 0px;
        width: 90%;
    }
  }
  @media (min-width: 600px) {
    nav {
      width: 100%;
      height: auto;
    }
    article {
        margin-left: 0px;
        width: 90%;
    }
  }
  @media (min-width: 768px) {
    nav {
        width: 40%;
        height: 800px;
      }
      article {
          margin-left: 10px;
          width: 50%;
      }
  }
  @media (min-width: 992px) {
    nav {
        width: 22%;
        height: 500px;
      }
      article {
          margin-left: 30px;
          width: 70%;
      }
    footer {
        height: 50px;
    }
  }
  @media (min-width: 820px) {
    nav {
        width: 34%;
        height: 950px;
      }
      article {
          margin-left: 10px;
          width: 60%;
      }
    footer {
        height: 50px;
    }
  }